
--define offset direction.
--calculate correction to move m,o to x,y

for corrections ui need
x,y <-> frame,pixel,line for anywhere within georeferenced image.
outside images not necessary.

for georeferencing need frame -> x,y,pixel,line.
	same as corrections



piecewise affine transform to map corrected <-> uncorrected points.?


corrections model to map corrected_point <-> uncorrected?
	scaling happens
	
	
finding m values when nearest point is vertex
